<!-- Sidebar -->
<ul th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org" class="navbar-nav w3-camo-brown sidebar sidebar-dark accordion" id="accordionSidebar"
    xmlns:sec="http://www.w3.org/1999/xhtml">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/real/list}">
    <div class="sidebar-brand-icon">
      <img th:src="@{/img/RÉ.png}" height="60px" width="120px" />
    </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Heading -->
  <div class="sidebar-heading">
    Értékelések
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item active">
    <a class="nav-link" th:href="@{/real/list_inprogress}">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Folyamatban</span></a>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item active">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
      <i class="fas fa-fw fa-folder"></i>
      <span>Listák</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Állapot listák:</h6>
        <a class="collapse-item" th:href="@{/real/list}">Értékelési lista</a>
        <a class="collapse-item" th:href="@{/real/list_done}">Elküldött, visszavont</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item active">
    <a class="nav-link" th:href="@{/real/add}">
      <i class="fas fa-fw fa-table"></i>
      <span>Értékelés hozzáadása</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Általános
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item active">
    <a class="nav-link" th:href="@{/real/statistics}">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Statisztikák</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" th:href="@{/real/statistics/custom}">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Statisztikák - egyedi</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Felvitel
  </div>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item active">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Hozzáadás</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Elem hozzáadás:</h6>
        <a class="collapse-item" th:href="@{/real/add/bank}">Bank felvitele</a>
        <a class="collapse-item" th:href="@{/real/add/config}">Egyéb konfiguráció</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Heading -->
  <div class="sidebar-heading">
    Admin
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item active">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesAdmin" aria-expanded="true" aria-controls="collapsePagesAdmin">
      <i class="fas fa-fw fa-folder"></i>
      <span>Admin</span>
    </a>
    <div id="collapsePagesAdmin" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Állapot listák:</h6>
        <a class="collapse-item" th:href="@{/real/admin}">Felhasználó felvitel</a>
        <a class="collapse-item" th:href="@{/real/pdf-generating}">Elszámolás generálás</a>
        <a class="collapse-item" th:href="@{/real/admin-list}">Értékelési lista</a>
        <a class="collapse-item" th:href="@{/real/admin-users-list}">Felhasználók</a>
        <a class="collapse-item" th:href="@{/real/admin-bank-list}">Bankok</a>
        <a class="collapse-item" th:href="@{/real/admin-config-list}">Egyéb konfigurációk</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->