@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
body {
  background-color: #330000;
  font-family: "Montserrat", sans-serif;
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}
aside {
  flex: 0 0 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  box-sizing: border-box;
}
h1,
p {
  color: #fff;
  font-size: 3em;
  padding: 0;
  margin: 0;
}
p {
  font-size: 1em;
}
#render_error {
  fill: none;
  stroke: #f00;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
