@supports (zoom:2) {
  input[type="radio"],  input[type=checkbox]{
    zoom: 2;
  }
}
@supports not (zoom:2) {
  input[type="radio"],  input[type=checkbox]{
    transform: scale(2);
    margin: 15px;
  }
}
.label-style{
  vertical-align: top;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
  text-decoration: none;
}