body {
    color: #ac7e54;
    font-weight: 700;
    margin: 0;
    padding: 0;
    background-image: url('../img/picture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#login .container #login-row #login-column #login-box {
    border-radius: 30px;
    margin-top: 120px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.text-color {
    color: #ac7e54;
}

.input-login {
    border:none;
    padding:15px 20px;
    border-radius:25px;
}

.btn-brown {
    color:#fff;
    background-color:#ac7e54;
    border-color:#ac7e54;
}

.btn-brown:hover {
    color:#fff;
    background-color:#79533d;
    border-color:#79533d;
}

.login-div {
    background: rgba(0,0,0,.5);
    border-radius: 25px;
    width: 40%;
    height: 50%;
    text-align: center;
    align-items: center;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    color: green;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    color: red;
    content: "✖";
}
