@page {
  size: letter;
}

body {
  font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif;
  font-size: 14px;
}

.titles-style {
  color: #030000;
  font-size: 16px;
  font-weight: bold;
}

.students_table {
  padding-top: 0px;
  width: 100%;
  font-size: 10px;
  color: black;
  font-style: normal;
  border-spacing: 0px;
}

.students_table th {
  background-color: rgb(149, 149, 149);
}

.image {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px;
}

.date {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 20px;
}

.other {
  min-width: 50px;
}

.name {
  text-align: center;
}

.logo {
  width: 100%;
  height: 70px;
}

.sum {
  font-size: 14px;
  font-weight: bold;
}