.iktatva, .visszaigazolt, .szemlezve, .elokeszitve, .ertekeles_kesz, .visszakuldott {
  background-color: skyblue;
  color: black;
}

.elkuldve {
  background-color: lawngreen;
  color: black;
}

.akadaly, .akadaly_iktatva, .akadaly_visszaigazolt, .akadaly_elokeszitve, .akadaly_becsulve, .akadaly_szemlezve, .akadaly_ertekeles_kesz {
  background-color: orange;
  color: black;
}

.visszavont {
  background-color: red;
  color: black;
}

tr:hover {
  background-color:#f5f5f5;
}

.w3-camo-brown
{color:#fff;background-color:#594d45}

.w3-camo-red
{color:#fff;background-color:#79533d}

.w3-camo-olive
{color:#fff;background-color:#595142}

.w3-camo-field
{color:#fff;background-color:#745d46}

.w3-camo-earth
{color:#fff;background-color:#ac7e54}

.w3-camo-sand
{color:#fff;background-color:#a9947b}

.w3-camo-tan
{color:#fff;background-color:#b49d80}

.w3-camo-sandstone
{color:#fff;background-color:#bcab90}

.w3-camo-dark-green
{color:#fff;background-color:#535640}

.w3-camo-forest
{color:#fff;background-color:#54504b}

.w3-camo-light-green
{color:#fff;background-color:#63613e}

.w3-camo-green
{color:#fff;background-color:#4a5444}

.w3-camo-dark-gray,.w3-camo-dark-grey
{color:#fff;background-color:#5c5c5b}

.w3-camo-gray,.w3-camo-grey
{color:#fff;background-color:#9495a5}

.w3-camo-black
{color:#fff;background-color:#373538}

table.dataTable tbody tr.selected {
  background-color: yellow;
}

.mytooltip {
  position: relative;
  display: inline-block;
}

.mytooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.mytooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: rotate(270deg);
  margin-right: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.mytooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.deadline {
  background-color: #ADDFAD;
  color: black;
}

.afterDeadline {
  background-color: #F88379;
  color: black;
}