<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

  <link rel="icon" th:href="@{/img/RÉ.png}">

  <title>Reset password</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link th:href="@{/css/login.css}" rel="stylesheet">

</head>

<body>
<div id="login">
  <div>
    <h1 style="font-size: 2.8em;font-weight: 700;border: 2px;border-color: black;color:#79533d;" class="text-center pt-5">REÁL ÉRTÉK Kft. - Backoffice</h1>
  </div>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form th:action="@{/forgot}" id="login-form" class="form" method="POST">
            <h2 style="font-weight: 700;" class="text-center text-color">Elfelejtett jelszó</h2>
            <br>
            <div>
              <p style="color:black">Kapni fog email-ben egy linket a jelszó megváltoztatásához!</p>
            </div>
            <br>
            <div class="form-group">
              <label for="email" class="text-color">Email:</label><br>
              <input type="email" name="email" id="email" placeholder="Email.." class="form-control input-login" required autofocus/>
            </div>
            <div style="padding-top:35px;" class="form-group">
              <input type="submit" class="btn btn-brown btn-md form-control input-login" value="Küldés">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>
