<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

  <link rel="icon" th:href="@{/img/RÉ.png}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>REÁL ÉRTÉK Kft. - Backoffice</title>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body id="page-top">

<!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar fragment -->
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <!-- End of sidebar fragment -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" style="background: #FFDEAD;" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <nav class="navbar navbar-expand navbar-light w3-camo-earth topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars text-white"></i>
          </button>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span th:text="${prio.size()} + '+'" class="badge badge-danger badge-counter"></span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-lg animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Kiemelt esetek
                </h6>
                <div th:each="prio : ${prio}">
                  <a class="dropdown-item d-flex align-items-center" th:href="@{/real/show/{id}(id=${prio.id})}">
                    <div class="mr-3">
                      <div class="icon-circle bg-warning">
                        <i class="fas fa-file-alt text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div th:text="${#temporals.format(prio.deadline, 'yyyy.MM.dd HH:mm')}" class="medium text-danger-500"></div>
                      <span th:text="${prio.address.zipCode + ' ' + prio.address.city + ', ' + prio.address.street + ', ' + prio.address.door}" class="font-weight-bold"></span>
                    </div>
                  </a>
                </div>
                <a class="dropdown-item text-center small text-gray-500" th:href="@{/real/list}">Mutasd az összeset</a>
              </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-white-600 text-white small" sec:authentication="name">Profil Példa</span>
                <img class="img-profile rounded-circle" th:src="@{/img/user.svg}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" th:href="@{/real/profile}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profil
                </a>
                <a class="dropdown-item" th:href="@{/real/activity}">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Tevékenységek
                </a>
                <div class="dropdown-divider"></div>
                <form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/login}" method="post" class="form-inline">
                  <a class="dropdown-item" href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Kijelentkezés
                  </a>
                </form>
              </div>
            </li>
          </ul>


        <a class="scroll-to-top rounded" style="z-index: 9999;" href="#page-top">
          <i class="fas fa-angle-up"></i>
        </a>

        </nav>

        <!-- Content fragment -->
        <div th:replace="contents/__${contentFile}__ :: __${contentName}__"></div>
        <!-- End of content fragment -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>REÁL ÉRTÉK Kft. &copy; <script>document.write(new Date().getFullYear())</script> - V.1.5.5</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Content Wrapper -->

  <script>
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = yyyy + '.' +  mm + '.' + dd;

    $(document).ready(function() {
      var dataTable = $('#dataTable').DataTable( {
        "createdRow": function( row, data, dataIndex){
          var requiredDate = data[6].substring(0, 10);
          var state = data[0];
          if(state !== 'Elküldve' && state !== 'Visszavonva') {
            if(Date.parse(requiredDate)  ===  Date.parse(today)){
              $(row).addClass('deadline');
            }
            if(Date.parse(requiredDate)  <  Date.parse(today)) {
              $(row).addClass('afterDeadline');
            }
          }
        },
        stateSave: true,
        "paging": true,
        "order": [],
        "language": {
          "emptyTable": "Nincs jelenleg elérhető adat az adatbázisban",
          "info":           "Megjelenítve _START_ -től _END_ -ig _TOTAL_ bejegyzésből",
          "infoEmpty":      "Megjelenítve 0 -tól 0 -ig 0 bejegyzésből",
          "infoFiltered":   "(_MAX_ bejegyzésből szűrve)",
          "infoPostFix":    "",
          "thousands":      ",",
          "lengthMenu":     "_MENU_ bejegyzés megjelenítése",
          "loadingRecords": "Töltés...",
          "processing":     "Feldolgozás...",
          "search":         "Keresés:",
          "zeroRecords":    "Nem található egyezés",
          "paginate": {
            "first": "Első",
            "last": "Utolsó",
            "next": "Következő",
            "previous": "Előző"
          },
          "aria": {
            "sortAscending":  ": Aktiválja az oszlop növekvő rendezéséhez",
            "sortDescending": ": Aktiválja az oszlop csökkenő rendezéséhez"
          }
        },
      });

      $("#dataTable_filter").css("display","none");  // hiding global search box

      $('.case-search-input').on( 'keyup click change', function () {
        var i =$(this).attr('id');  // getting column index
        var v =$(this).val();  // getting search input value
        dataTable.columns(i).search(v).draw();
      } );

      $("#arrivedStart").datepicker({
        showOn: "button",
        showAnim: 'slideDown',
        showButtonPanel: true ,
        autoSize: true,
        buttonImage: "//jqueryui.com/resources/demos/datepicker/images/calendar.gif",
        dateFormat: "yy.mm.dd",
        buttonImageOnly: false,
        buttonText: "Válasszon Dátumot",
        "onSelect": function(date) {
          minDateFilter = new Date(date).getTime();
          dataTable.draw();
        }
      }).keyup(function() {
        minDateFilter = new Date(this.value).getTime();
        dataTable.draw();
      });

      $("#arrivedEnd").datepicker({
        showOn: "button",
        showAnim: 'slideDown',
        showButtonPanel: true ,
        autoSize: true,
        buttonImage: "//jqueryui.com/resources/demos/datepicker/images/calendar.gif",
        dateFormat: "yy.mm.dd",
        buttonImageOnly: false,
        buttonText: "Válasszon Dátumot",
        "onSelect": function(date) {
          maxDateFilter = new Date(date).getTime();
          dataTable.draw();
        }
      }).keyup(function() {
        maxDateFilter = new Date(this.value).getTime();
        dataTable.draw();
      });

      // Date range filter
      minDateFilter = "";
      maxDateFilter = "";

      $.fn.dataTableExt.afnFiltering.push(
          function(oSettings, aData, iDataIndex) {
            if (typeof aData._date == 'undefined') {
              aData._date = new Date(aData[5]).getTime();
            }

            if (minDateFilter && !isNaN(minDateFilter)) {
              if (aData._date < minDateFilter) {
                return false;
              }
            }

            if (maxDateFilter && !isNaN(maxDateFilter)) {
              if (aData._date > maxDateFilter) {
                return false;
              }
            }

            return true;
          }
      );

      $( ".datepicker" ).datepicker({
        dateFormat: "yy.mm.dd",
        showOn: "button",
        showAnim: 'slideDown',
        showButtonPanel: true ,
        autoSize: true,
        buttonImage: "//jqueryui.com/resources/demos/datepicker/images/calendar.gif",
        buttonImageOnly: true,
        buttonText: "Válasszon Dátumot",
        closeText: "Töröl",
        currentText: "Ma"
      });
      $(document).on("click", ".ui-datepicker-close", function(){
        $('.datepicker').val("");
        dataTable.columns(5).search("").draw();
        dataTable.columns(6).search("").draw();
      });

      $('#dataTable tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
      } );
    } );
  </script>


    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
    <script th:src="@{/vendor/chart.js/Chart.bundle.js}"></script>
    <script th:src="@{/vendor/chart.js/Chart.bundle.min.js}"></script>
    <script th:src="@{/vendor/chart.js/Chart.js}"></script>
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
  </body>
</html>
