<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

  <link rel="icon" th:href="@{/img/RÉ.png}">

  <title>REÁL ÉRTÉK Kft. - Bejelentkezés</title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link th:href="@{/css/login.css}" rel="stylesheet">

</head>

<body>
<div id="login">
  <div>
    <h1 style="font-size: 2.8em;font-weight: 700;border: 2px;border-color: black;color:#79533d;" class="text-center pt-5">REÁL ÉRTÉK Kft. - Backoffice</h1>
  </div>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form th:action="@{/login}" id="login-form" class="form" action="" method="post">
            <h2 style="font-weight: 700;" class="text-center text-color">Bejelentkezés</h2>
            <div class="form-group">
              <label for="username" class="text-color">Felhasználónév:</label><br>
              <input type="text" name="username" id="username" placeholder="Felhasználónév" class="form-control input-login">
            </div>
            <div class="form-group">
              <label for="password" class="text-color">Jelszó:</label><br>
              <input type="password" name="password" id="password" placeholder="Jelszó" class="form-control input-login">
            </div>

            <p th:if="${param.error}" class="error" style="color:#cf4c4e;">Helytelen felhasználónév, jelszó páros!</p>


            <div style="padding-top:35px;" class="form-group">
              <input th:href="@{/real/list_inprogress}" type="submit" name="submit" class="btn btn-brown btn-md form-control input-login" value="Belép">
            </div>

            <a class="d-flex justify-content-center" th:href="@{/forgot_password}">Elfelejtett jelszó?</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>
