<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

  <link rel="icon" th:href="@{/img/RÉ.png}">

  <title>Reset password</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link th:href="@{/css/login.css}" rel="stylesheet">

</head>

<body>
<div id="login">
  <div>
    <h1 style="font-size: 2.8em;font-weight: 700;border: 2px;border-color: black;color:#79533d;" class="text-center pt-5">REÁL ÉRTÉK Kft. - Backoffice</h1>
  </div>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
            <br>
            <div>
              <h4 class="d-flex justify-content-center" style="color:black" th:text="${message}"></h4>
            </div>
            <br>
            <div style="padding-top:35px;" class="form-group d-flex justify-content-center">
              <a th:href="@{/login}">
                <button class="btn btn-primary">
                  Belépek!
                </button>
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>
