<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

  <title>Havi elszámolás</title>

  <meta charset="ISO-8859-1"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link th:href="@{classpath:static/css/pdf.css}" rel="stylesheet"/>

</head>
<body>

<div class="row">
  <div>
    <div>
      <img th:src="@{classpath:static/img/RÉ.png}"/>
    </div>
    <div class="date">
      <h3 th:text="${date}"></h3>
    </div>
  </div>
</div>

<div th:if="${report.size() > 0}">
  <h1 class="name" th:text="${report.get(0).getValuer().getName()}"></h1>

  <div id="students">
    <div th:if="${not #lists.isEmpty(report)}">
      <table class="students_table paginate-table">
        <thead>
        <tr>
          <th>Sorszám</th>
          <th>Bank</th>
          <th>Dátum</th>
          <th>Cím</th>
          <th>Díj</th>
          <th>Szakértői díj</th>
          <th>Megjegyzés</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="case,index : ${report}">
          <td th:text="${index.index+1}"></td>
          <td th:text="${case?.bank.name}"></td>
          <td th:text="${#temporals.format(case?.arrived, 'yyyy.MM.dd HH:mm')}"></td>
          <td th:text="${case?.address.zipCode + ', ' + case?.address.city + ', ' + case?.address.street + ', ' + case?.address.door}"></td>
          <td th:text="${#numbers.formatDecimal(case?.money, 0, 'COMMA', 2, 'POINT')} + ' Ft'"></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
        <tfoot class="sum">
        <td>Összesen:</td>
        <td th:text="${report.size()} + ' db'"></td>
        <td></td>
        <td></td>
        <td th:text="${#numbers.formatDecimal(sum, 0, 'COMMA', 2, 'POINT')} + ' Ft'"></td>
        <td></td>
        <td></td>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div th:if="${report.size() == 0}">
  <h1>Az aktuális hónapra még nincs elkészült értékelés!</h1>
</div>

</body>
</html>