<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

  <link rel="icon" th:href="@{/img/RÉ.png}">

  <title>Reset password</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link th:href="@{/css/login.css}" rel="stylesheet">

</head>

<body>
<div id="login">
  <div>
    <h1 style="font-size: 2.8em;font-weight: 700;border: 2px;border-color: black;color:#79533d;" class="text-center pt-5">REÁL ÉRTÉK Kft. - Backoffice</h1>
  </div>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form th:action="@{/reset}" id="login-form" class="form" action="" method="post">
            <input type="hidden" name="token" th:value="${token}"/>
            <div class="form-group">
              <label for="psw" class="text-color">Jelszó:</label><br>
              <input type="password" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="psw" placeholder="Jelszó" class="form-control input-login" required/>
            </div>
            <div class="form-group">
              <label for="password2" class="text-color">Jelszó megerősítése:</label><br>
              <input type="password" name="password2" id="password2" placeholder="Jelszó megerősítése" class="form-control input-login" required oninput="checkPasswordMatch(this);" />
            </div>

            <div style="padding-top:35px;" class="form-group">
              <input type="submit" name="submit" class="btn btn-brown btn-md form-control input-login" value="Megváltoztat">
            </div>
          </form>
          <div id="message">
            <h3>A jelszónak tartalmaznia kell a következőket:</h3>
            <p id="letter" class="invalid">Minimum egy <b>kis</b> betű</p>
            <p id="capital" class="invalid">Minimum egy <b>nagy</b> betű</p>
            <p id="number" class="invalid">Minimum egy <b>szám</b></p>
            <p id="length" class="invalid">Minimum <b>8 karakter hosszú</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
  var myInput = document.getElementById("psw");
  var letter = document.getElementById("letter");
  var capital = document.getElementById("capital");
  var number = document.getElementById("number");
  var length = document.getElementById("length");

  // When the user clicks on the password field, show the message box
  myInput.onfocus = function() {
    document.getElementById("message").style.display = "block";
  }

  // When the user clicks outside of the password field, hide the message box
  myInput.onblur = function() {
    document.getElementById("message").style.display = "none";
  }

  // When the user starts to type something inside the password field
  myInput.onkeyup = function() {
    // Validate lowercase letters
    var lowerCaseLetters = /[a-z]/g;
    if(myInput.value.match(lowerCaseLetters)) {
      letter.classList.remove("invalid");
      letter.classList.add("valid");
    } else {
      letter.classList.remove("valid");
      letter.classList.add("invalid");
    }

    // Validate capital letters
    var upperCaseLetters = /[A-Z]/g;
    if(myInput.value.match(upperCaseLetters)) {
      capital.classList.remove("invalid");
      capital.classList.add("valid");
    } else {
      capital.classList.remove("valid");
      capital.classList.add("invalid");
    }

    // Validate numbers
    var numbers = /[0-9]/g;
    if(myInput.value.match(numbers)) {
      number.classList.remove("invalid");
      number.classList.add("valid");
    } else {
      number.classList.remove("valid");
      number.classList.add("invalid");
    }

    // Validate length
    if(myInput.value.length >= 8) {
      length.classList.remove("invalid");
      length.classList.add("valid");
    } else {
      length.classList.remove("valid");
      length.classList.add("invalid");
    }
  }
</script>

<script type="text/javascript">
  function checkPasswordMatch(fieldConfirmPassword) {
    if (fieldConfirmPassword.value != $("#psw").val()) {
      fieldConfirmPassword.setCustomValidity("A jelszavak nem egyeznek!");
    } else {
      fieldConfirmPassword.setCustomValidity("");
    }
  }
</script>

</body>
</html>
