<div th:fragment="activity" id="success" xmlns:th="http://www.thymeleaf.org">

  <link rel="stylesheet" th:href="@{/css/profile.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">

  <div class="container emp-profile">
    <form method="post">
      <div class="row">
        <div class="col-md-4">
          <div class="profile-img">
            <img th:src="@{/img/user.svg}" alt="profile-picture"/>
          </div>
        </div>
        <div class="col-md-8">
          <div class="profile-head">
            <h5 th:text="${user.getName()}">
            </h5>
            <h6 th:text="${user.getJob().getName()}">
            </h6>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
            </ul>
          </div>
          <div class="panel panel-primary" id="result_panel">
            <div class="panel-heading"><h1 class="h4 text-gray-900 mb-4">Profilhoz rendelve</h1>
            </div>
            <div class="panel-body">
              <table class="table table-bordered list-group">
                  <tr th:each="activity : ${activity}" class="d-flex justify-content-between list-group-item">
                    <td style="border: none" class="font-weight-bold" th:text="${activity.getReferenceNumber()}"></td>
                    <td style="border: none" th:text="${activity.state.displayValue}" th:class="${#strings.toLowerCase(activity.state.name())}"></td>
                    <td style="border: none">
                      <a class="btn btn-primary btn-circle" th:href="@{/real/show/{id}(id=${activity.getId()})}">
                        <i><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                          <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                        </svg></i>
                      </a>
                    </td>
                  </tr>
              </table>
              <div th:if="${#lists.isEmpty(activity)}">
                <p>Nincs elérhető elem</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>