<div th:fragment="add_bank" id="add_preparer" xmlns:th="http://www.thymeleaf.org">
  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
  <div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-body">
        <form th:action="@{'/real/add_bank'}" th:object="${bank}" enctype="multipart/form-data"  method="POST">
          <div class="form-group">
            <label for="preparer">Bank név</label>
            <input type="text" th:field="*{name}" name="preparer" class="form-control" id="preparer">
          </div>
          <div class="form-group">
            <label for="fileImage">Kép kiválasztása</label>
            <input th:field="*{file}" type="file" name="fileImage" class="form-control-file" id="fileImage" accept="image/png, image/jpeg">
          </div>
          <p>
            <img style="height: 500px; width: 500px;" id="thumbnail" alt=" Kép előnézet" />
          </p>
          <button type="submit" class="btn btn-primary">Hozzáadás</button>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function () {

      $('#fileImage').change(function () {
        showImageThumbnail(this);
      });
    });
    
    function showImageThumbnail(fileInput) {
      file = fileInput.files[0];
      reader = new FileReader();

      reader.onload = function (e) {
        $('#thumbnail').attr('src', e.target.result);
      };
      reader.readAsDataURL(file);
    }
  </script>
</div>