<div th:fragment="admin_bank" id="list" xmlns:th="http://www.thymeleaf.org">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Bankok</h1>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive" th:if="${not #lists.isEmpty(banks)}">
          <table class="table table-bordered" id="dataTable" style="width:100%;text-align:center;vertical-align:middle;">
            <thead class="thead-light">
            <tr>
              <th>Név</th>
              <th>Kép</th>
              <th></th>
            </tr>
            <tr>
              <td><input type="text" id="0" class="case-search-input form-control form-control-sm"></td>
              <td></td>
              <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bank : ${banks}">
              <td th:text="${bank.getName()}"></td>
              <td align="center"><img th:src="@{${bank.getImagePath()}}" th:alt="${bank.getName()}" style="max-width:100px; max-height:50px;"/></td>
              <td>
                <div class="modal" th:id="modal-warning+${bank.id }">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header alert alert-danger">
                        <h5 class="modal-title">Elem törlés</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h4>Biztosan törölni szeretné ezt az elemet?</h4>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary mr-auto p-2" data-dismiss="modal">Vissza</button>
                        <a type="button" class="btn btn-danger" th:href="@{/real/delete-bank/{id}(id=${bank.id})}"><i class="fa fa-check"></i>&nbsp;Igen</a>
                      </div>
                    </div>
                  </div>
                </div>
                <a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${bank.id}" class="btn btn-danger btn-circle" th:href="@{/real/delete-bank/{id}(id=${bank.id})}">
                  <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                  </svg></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div th:if="${#lists.isEmpty(banks)}">
          <p>Nincs elérhető bank</p>
        </div>
      </div>
    </div>
  </div>
</div>