<div th:fragment="admin_user" id="list" xmlns:th="http://www.thymeleaf.org">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Felhasználói fiókok</h1>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive" th:if="${not #lists.isEmpty(users)}">
          <table class="table table-bordered" id="dataTable" style="width:100%;text-align:center;vertical-align:middle;">
            <thead class="thead-light">
            <tr>
              <th>Név</th>
              <th>Email</th>
              <th>Felhasználónév</th>
              <th>Telefonszám</th>
              <th>Pozíció</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td><input type="text" id="0" class="case-search-input form-control form-control-sm"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
              <td th:text="${user.getName()}"></td>
              <td th:text="${user.getEmail()}"></td>
              <td th:text="${user.getUserName()}"></td>
              <td th:text="${user.getPhoneNumber()}"></td>
              <td th:text="${user.getJob().getName()}"></td>
              <td>
                <div class="modal" th:id="modal-warning+${user.id }">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header alert alert-danger">
                        <h5 class="modal-title">Elem törlés</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h4>Biztosan törölni szeretné ezt az elemet?</h4>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary mr-auto p-2" data-dismiss="modal">Vissza</button>
                        <a type="button" class="btn btn-danger" th:href="@{/real/delete-user/{id}(id=${user.id})}"><i class="fa fa-check"></i>&nbsp;Igen</a>
                      </div>
                    </div>
                  </div>
                </div>
                <a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${user.id}" class="btn btn-danger btn-circle" th:href="@{/real/delete-user/{id}(id=${user.id})}">
                  <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                  </svg></i>
                </a>
              </td>
              <td>
                <a class="btn btn-primary btn-circle" th:href="@{/real/admin-user-edit/{id}(id=${user.id})}">
                  <i><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div th:if="${#lists.isEmpty(users)}">
          <p>Nincs elérhető felhasználó</p>
        </div>
      </div>
    </div>
  </div>
</div>