<div th:fragment="blocker" id="blocker" xmlns:th="http://www.thymeleaf.org">
  <div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h2 align="center">Akadályozott becslések listája</h2>
      </div>
      <div class="card-body">
        <div class="table-responsive" th:if="${not #lists.isEmpty(real)}">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>Iktatószám</th>
              <th>Állapot</th>
              <th>Bank</th>
              <th>Cím</th>
              <th>Ügyfélnév</th>
              <th>Határidő</th>
              <th>Előkészítette</th>
              <th>Értékbecslő</th>
              <th>Szemle</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="real : ${real}">
              <td th:text="${real.referenceNumber}"></td>
              <td th:text="${real.state.displayValue}" th:class="${#strings.toLowerCase(real.state.name())}"></td>
              <td align="center"><img th:src="@{${real.bankId}}" th:alt="${real.bankId}" style="width:125px; height:60px;"/><span style="display: none;" th:text="${real.getBank().getName()}"></span></td>
              <td th:text="${real.zipCode + ', ' + real.city + ', ' + real.street + ', ' + real.door}"></td>
              <td th:text="${real.clientName}"></td>
              <td th:text="${real.deadline}"></td>
              <td th:text="${real.preparerId}"></td>
              <td th:text="${real.valuerId}"></td>
              <td th:text="${real.review}"></td>
              <td><div th:if="${real.comment != ''}" class="spinner-grow text-danger" role="status">
                <span class="sr-only">Loading...</span>
              </div></td>
              <td>
                <a class="btn btn-primary btn-circle" th:href="@{/real/show/{id}(id=${real.id})}">
                  <i><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                    <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                  </svg></i>
                </a>
              </td>
              <td>
                <a class="btn btn-primary btn-circle" th:href="@{/real/edit/{id}(id=${real.id})}">
                  <i><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div th:if="${#lists.isEmpty(real)}">
          <p>Nincs kész állapotú elem</p>
        </div>
      </div>
    </div>
  </div>
</div>