<div th:fragment="config" id="add_preparer" xmlns:th="http://www.thymeleaf.org">
  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
  <div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-body">
        <form th:action="@{'/real/save_config'}" th:object="${config}" enctype="multipart/form-data"  method="POST">
          <div class="form-group">
            <label for="type">Típus</label>
            <select th:field="*{type}" class="form-control" id="type">
              <option th:value="${'Hitel típus'}">Hitel típus</option>
              <option th:value="${'Értékelés típus'}">Értékelés Típus</option>
            </select>
          </div>
          <div class="form-group">
            <label for="value">Érték</label>
            <input type="text" th:field="*{value}" name="preparer" class="form-control" id="value">
          </div>
          <button type="submit" class="btn btn-primary">Mentés</button>
        </form>
      </div>
    </div>
  </div>
</div>