<div th:fragment="custom_date_statistics" id="custom_date_statistics" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Statisztikák egyedi beállítással</h1>
        </div>

        <form th:action="@{'/real/evaluate_statistics'}" th:object="${settings}" enctype="multipart/form-data"  method="POST">
            <div class="justify-content-between" style="margin-bottom: 20px;">
                <div class="form-group col-sm-6">
                    <label for="start">Érkezett -tól</label>
                  <input type="date" class="form-control form-control-sm col" id="start" name="start" th:field="*{start}" required>
                </div>
                <div class="form-group col-sm-6">
                    <label for="end">Érkezett -ig</label>
                  <input type="date" class="form-control form-control-sm col" id="end" name="end" th:field="*{end}" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="valuer">Válasszon értékelőt:</label>
                    <select name="valuer" class="form-control" id="valuer" th:field="*{valuer}">
                        <option value="null"></option>
                        <option th:each="valuer : ${valuers}"
                                th:value="${valuer.getId()}"
                                th:text="${valuer.getName()}">
                        </option>
                    </select>
                    <label for="bank">Bank</label>
                    <select name="bank" class="form-control" id="bank" th:field="*{bank}">
                        <option value="null"></option>
                        <option th:each="banks : ${bank}"
                                th:value="${banks.getId()}"
                                th:text="${banks.getName()}">
                        </option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Mentés</button>
        </form>
    </div>
</div>