<div th:fragment="edit_page" id="edit_page" xmlns:th="http://www.thymeleaf.org">
  <div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-body">
          <form th:action="@{'/real/update/case'}" th:object="${real}"  method="POST">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="bank">Bank</label>
                <select name="bank" class="form-control" id="bank" th:field="*{bank}">
                  <option th:each="banks : ${bank}"
                          th:value="${banks.getName()}"
                          th:text="${banks.getName()}">
                  </option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="clientName">Ügyfélnév</label>
                <input type="text" th:field="*{clientName}" name="clientName" class="form-control" id="clientName">
                <input type="hidden" th:field="*{id}" class="form-control" id="id">
              </div>
              <div class="form-group col-md-4">
                <label for="referenceNumber">Iktatószám</label>
                <input type="text" th:field="*{referenceNumber}" name="referenceNumber" class="form-control" id="referenceNumber">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="loan">Hitel típus</label>
                <select name="preparerName" class="form-control" id="loan" th:field="*{loan}">
                  <option th:value="${currentLoan.getId()}" th:text="${currentLoan.getValue()}"></option>
                  <option th:each="l : ${loan}"
                          th:value="${l.getId()}"
                          th:text="${l.getValue()}">
                  </option>
                  <option value="-1"></option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="estimation">Értékelés  típus</label>
                <select name="estimation" class="form-control" id="estimation" th:field="*{estimation}">
                  <option th:value="${currentEstimation.getId()}" th:text="${currentEstimation.getValue()}"></option>
                  <option th:each="e : ${estimation}"
                          th:value="${e.getId()}"
                          th:text="${e.getValue()}">
                  </option>
                  <option value="-1"></option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-3">
                <label for="zip">Irányítószám</label>
                <input type="text" th:field="*{address.zipCode}" name="zip" class="form-control" id="zip">
              </div>
              <div class="form-group col-3">
                <label for="city">Város</label>
                <input type="hidden" th:field="*{address.id}" class="form-control" id="address.id">
                <input type="text" th:field="*{address.city}" name="city" class="form-control" id="city">
              </div>
              <div class="form-group col-3">
                <label for="street">Utca/házszám</label>
                <input type="text" th:field="*{address.street}" name="street" class="form-control" id="street">
              </div>
              <div class="form-group col-3">
                <label for="door">Emelet/ajtó - HRSZ</label>
                <input type="text" th:field="*{address.door}" name="door" class="form-control" id="door" placeholder="Emelet/ajtó - HRSZ">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="preparerName">Előkészítette</label>
                <select name="preparerName" class="form-control" id="preparerName" th:field="*{preparer}">
                  <option th:each="preparers : ${preparer}"
                          th:value="${preparers.getName()}"
                          th:text="${preparers.getName()}">
                  </option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="valuerName">Értékbecslő</label>
                <select name="valuerName" class="form-control" id="valuerName" th:field="*{valuer}">
                  <option th:each="valuers : ${valuer}"
                          th:value="${valuers.getName()}"
                          th:text="${valuers.getName()}">
                  </option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="review">Érkezett</label>
                <input type="datetime-local" th:field="*{arrived}" name="arrived" class="form-control" id="arrived" required>
              </div>
              <div class="form-group col-md-4">
                <label for="deadLine">Határidő</label>
                <input type="datetime-local" th:field="*{deadline}" name="deadLine" class="form-control" id="deadLine">
              </div>
              <div class="form-group col-md-4">
                <label for="review">Szemle</label>
                <input type="datetime-local" th:field="*{review}" name="review" class="form-control" id="review">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="comment">Megjegyzés</label>
                <input type="text" th:field="*{comment}" name="comment" class="form-control" id="comment">
              </div>
              <div class="form-group col-md-6">
                <label for="money">Összeg</label>
                <input type="number" step="1" th:field="*{money}" name="money" class="form-control" id="money">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Szerkeszt</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
