<div th:fragment="evaluated_statistics" id="evaluated_statistics" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Statisztikák egyedi beállítással</h1>
        </div>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h2 class="h3 mb-0 text-gray-800">Szűrési feltételek:</h2>
        </div>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">Dátum -tól: </h3>
            <h3 th:text="${dateFrom}" class="h3 mb-0 text-gray-800"></h3>
        </div>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">Dátum -ig: </h3>
            <h3 th:text="${dateTo}" class="h3 mb-0 text-gray-800"></h3>
        </div>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">Értékbecslő: </h3>
            <h3 th:text="${searchValuer}" class="h3 mb-0 text-gray-800"></h3>
        </div>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">Bank: </h3>
            <h3 th:text="${searchBank}" class="h3 mb-0 text-gray-800"></h3>
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4 mt-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Összeg (Kijelölt időszak)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${#numbers.formatDecimal(moneyForCurrentMonth, 1, 'COMMA', 2, 'POINT')} + ' Ft'"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4 mt-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Teljes összeg (Forintban)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${#numbers.formatDecimal(amount, 1, 'COMMA', 2, 'POINT')} + ' Ft'"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4 mt-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Feladatok</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div th:text="${count}" class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4 mt-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Megrendelések a kiválasztott időszakban</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${caseNumberForCurrentMonth}"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->

        <div class="row">
            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Áttekintés</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div>
                            <canvas id="myLineChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script type="text/javascript" th:inline="javascript">
            var datesForCurrentMonth = [];
            var numberForCurrentMonth = [];

            /*<![CDATA[*/

            [# th:each="cms : ${chartCurrentMonthString}"]
            datesForCurrentMonth.push("[(${cms})]")
            [/]

            [# th:each="cmi : ${chartCurrentMonthInteger}"]
            numberForCurrentMonth.push("[(${cmi})]")
            [/]

            /*]]>*/

            var dataForCurrentMonth = {
              labels: datesForCurrentMonth,
              series: [
                numberForCurrentMonth
              ]
            };

            const myLine = document.getElementById('myLineChart');
            new Chart(myLine, {
              type: 'line',
              data: {
                labels: datesForCurrentMonth,
                datasets: [{
                  label: "Darab ",
                  data: numberForCurrentMonth,
                  fill: false,
                  borderColor: 'rgb(75, 192, 192)',
                  tension: 0.3
                }]
              }
            });
          </script>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Lebontás bankokra</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div>
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script type="text/javascript" th:inline="javascript">
              const ctx = document.getElementById('myChart');

              var bankNames_test = [];
              var caseCount_test = [];

              /*<![CDATA[*/
              [# th:each="stringValue : ${donutString}"]
              bankNames_test.push("[(${stringValue})]")
                  [/]
                  [# th:each="integerValue : ${donutInteger}"]
              caseCount_test.push("  [(${integerValue})]")
                  [/]
              /*]]>*/

              new Chart(ctx, {
                  type: 'doughnut',
                  data: {
                    labels: bankNames_test,
                    datasets: [{
                      labels: bankNames_test,
                      data: caseCount_test,
                      hoverOffset: 4
                    }]
                  }
                });
              </script>
        </div>

        <div class="d-sm-flex align-items-center justify-content-center mb-4">
            <h3 class="h3 mb-0 text-gray-800" style="text-align: center">Feladatok állapotokra lebontva</h3>
        </div>

        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-sajat col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Iktatva</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div th:text="${iktatva}" class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar" th:style="'width: ' + (100 * (${iktatva} / ${count})) + '%;'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-sajat col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Visszaigazolt</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div th:text="${visszaigazolt}" class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar" th:style="'width: ' + (100 * (${visszaigazolt} / ${count})) + '%;'" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-sajat col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Szemlézve</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div th:text="${szemlezve}" class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar" th:style="'width: ' + (100 * (${szemlezve} / ${count})) + '%;'" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-sajat col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Előkészítve</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div th:text="${elokeszitve}" class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar" th:style="'width: ' + (100 * (${elokeszitve} / ${count})) + '%;'" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-sajat col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Értékelés kész</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div th:text="${ertekelesKesz}" class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar" th:style="'width: ' + (100 * (${ertekelesKesz} / ${count})) + '%;'" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>