<div th:fragment="in_progress" id="list" xmlns:th="http://www.thymeleaf.org">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Folyamatban lévő értékelések listája</h1>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive" th:if="${not #lists.isEmpty(real)}">
          <table class="table table-bordered" id="dataTable" style="width:100%;text-align:center;vertical-align:middle;">
            <div class="row justify-content-between" style="margin-bottom: 20px;">
              <div class="col-sm-6">
                <label for="arrivedStart">Érkezett -tól</label>
                <span class="col-sm row" style="margin-bottom: 10px;">
                  <input type="text" class="form-control form-control-sm col" id="arrivedStart" name="arrivedStart">
                </span>
                <label for="arrivedEnd">Érkezett -ig</label>
                <span class="col-sm row">
                  <input type="text" class="form-control form-control-sm col" id="arrivedEnd" name="arrivedEnd">
                </span>
              </div>
            </div>
            <thead class="thead-light">
            <tr>
              <th>Állapot</th>
              <th>Bank</th>
              <th>Iktatószám</th>
              <th>Cím</th>
              <th>Ügyfélnév</th>
              <th>Érkezett</th>
              <th>Határidő</th>
              <th>Értékbecslő / Előkészítő</th>
              <th>Hitel típus</th>
              <th>Értékelés típus</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td></td>
              <td><input type="text" id="1" class="case-search-input form-control form-control-sm"></td>
              <td><input type="text" id="2" class="case-search-input form-control form-control-sm"></td>
              <td><input type="text" id="3" class="case-search-input form-control form-control-sm"></td>
              <td><input type="text" id="4" class="case-search-input form-control form-control-sm"></td>
              <td valign="middle"><input readonly="readonly" type="hidden" id="5" class="case-search-input datepicker"></td>
              <td valign="middle"><input readonly="readonly" type="hidden" id="6" class="case-search-input datepicker"></td>
              <td><input type="text" id="7" class="case-search-input form-control form-control-sm"></td>
              <td><input type="text" id="8" class="case-search-input form-control form-control-sm"></td>
              <td><input type="text" id="9" class="case-search-input form-control form-control-sm"></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="real : ${real}">
              <td th:text="${real.state.displayValue}" th:class="${#strings.toLowerCase(real.state.name())}"></td>
              <td align="center"><img th:src="@{${real.getBank().getImagePath()}}" th:alt="${real.getBank().getName()}" style="max-width:90px; max-height:45px;"/><span style="display: none;" th:text="${real.getBank().getName()}"></span></td>
              <td th:text="${real.getReferenceNumber()}"></td>
              <td th:text="${real.getAddress().getZipCode() + ' ' + real.getAddress().getCity() + ', ' + real.getAddress().getStreet() + ', ' + real.getAddress().getDoor()}"></td>
              <td th:text="${real.getClientName()}"></td>
              <td th:text="${#temporals.format(real.arrived, 'yyyy.MM.dd HH:mm')}"></td>
              <td th:text="${#temporals.format(real.deadline, 'yyyy.MM.dd HH:mm')}"></td>
              <td th:text="${real.getValuer().getName()} + ' / ' + ${real.getPreparer().getName()}"></td>
              <td th:text="${real.getLoan() != null} ? ${real.getLoan().getValue()} : ''"></td>
              <td th:text="${real.getEstimation() != null} ? ${real.getEstimation().getValue()} : ''"></td>
              <td><div th:if="${!real.getComment().isEmpty()}">
                <h1 class="mytooltip">...<span style="padding: 5px;" class="tooltiptext h6 tooltip-left" th:text="${real.getComment()}"></span></h1>
              </div></td>
              <td>
                <a class="btn btn-primary btn-circle" th:href="@{/real/show/{id}(id=${real.id})}">
                  <i><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                    <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                  </svg></i>
                </a>
              </td>
              <td>
                <a class="btn btn-primary btn-circle" th:href="@{/real/edit/{id}(id=${real.id})}">
                  <i><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div th:if="${#lists.isEmpty(real)}">
          <p>Nincs elérhető elem</p>
        </div>
      </div>
    </div>
  </div>
</div>