<div th:fragment="pdf_generating" id="success" xmlns:th="http://www.thymeleaf.org">
  <link rel="stylesheet" th:href="@{/css/profile.css}">

  <form th:object="${name}" th:action="@{/real/pdf}" method="POST">
    <div class="container emp-profile">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <div class="form-group col-md-6">
            <label for="preparerName">Válasszon értékelőt:</label>
            <select name="preparerName" class="form-control" id="preparerName" th:field="*{name}">
              <option th:each="valuer : ${valuers}"
                      th:value="${valuer.getName()}"
                      th:text="${valuer.getName()}">
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <div class="form-group col-sm-6">
            <label for="start">Érkezett -tól</label>
            <input type="date" class="form-control form-control-sm col" id="start" name="start" th:field="*{start}" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <div class="form-group col-sm-6">
            <label for="end">Érkezett -ig</label>
            <input type="date" class="form-control form-control-sm col" id="end" name="end" th:field="*{end}" required>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-between">
            <div>
              <button name="pdf" class="btn pdf-excel-btn pdf-btn">PDF generálás</button>
            </div>
            <div>
              <button name="excel" class="btn pdf-excel-btn btn-success">Excel letöltés</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>