<div th:fragment="profile" id="success" xmlns:th="http://www.thymeleaf.org">

  <link rel="stylesheet" th:href="@{/css/profile.css}">

  <div class="container emp-profile">
    <form th:object="${user}" th:action="@{/real/update_user}" method="POST">
      <div class="row">
        <div class="col-md-4">
          <div class="profile-img">
            <img th:src="@{/img/user.svg}" alt="profile-picture"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="profile-head">
            <h5 th:text="${user.name}">
            </h5>
            <h6 th:text="${user.job}">
            </h6>
            <p class="proile-rating">JOGOSULTSÁG : <span th:text="${user.role}"></span></p>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" th:href="@{/real/edit/{id}(id=${user.id})}" href="#home" role="tab" aria-controls="home" aria-selected="true">Információk</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <input type="button" id="lock" class="profile-edit-btn" name="btnAddMore" value="Szerkeszt"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
          <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row">
                <div class="col-md-6">
                  <label>Felhasználónév</label>
                </div>
                <div class="col-md-6">
                  <input type="hidden" class="form-control form-control-sm col-md-6" th:field="*{id}"/>
                  <input type="hidden" class="form-control form-control-sm col-md-6" th:field="*{password}"/>
                  <input type="hidden" class="form-control form-control-sm col-md-6" th:field="*{role}"/>
                  <input class="sender form-control form-control-sm col-md-6" th:field="*{userName}" disabled/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Név</label>
                </div>
                <div class="col-md-6">
                  <input class="sender form-control form-control-sm col-md-6" th:field="*{name}" disabled/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Email</label>
                </div>
                <div class="col-md-6">
                  <input class="sender form-control form-control-sm col-md-6" th:field="*{email}" disabled/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Telefonszám</label>
                </div>
                <div class="col-md-6">
                  <input class="sender form-control form-control-sm col-md-6" th:field="*{phoneNumber}" disabled/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Munkakör</label>
                </div>
                <div class="col-md-6">
                  <input class="diff form-control form-control-sm col-md-6" th:field="*{job}" readonly/>
                </div>
              </div>
              <br>
              <br>
              <div class="row col-md-10 d-flex justify-content-center">
                <div class="col-md-6">
                  <input type="submit" class="profile-edit-btn-secondary btn green-button sender" name="btnAddMore" value="Mentés" disabled/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <script type="text/javascript">
    $("#lock").click(function() {
      $(".sender").attr('disabled', !$(".sender").attr('disabled'));
    });
  </script>

</div>