<div th:fragment="show_case" id="show_case" xmlns:th="http://www.thymeleaf.org">

  <link rel="stylesheet" th:href="@{/css/checkbox.css}">

  <div class="container-fluid">

    <!-- Felső rész Státusz, állapot jelzés és állapot váltás -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <div class="d-flex flex-row">
        <h1 class="text-gray-800">Státusz adatok</h1>
        <div class="col-md-1">
          <h1><span class="badge badge-info" th:text="${real.state.displayValue}"></span></h1>
        </div>
      </div>
      <div class="d-flex d-sm-inline-block">
        <div class="modal" th:id="modal-warning+${real.id }">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header alert alert-primary">
                <h5 class="modal-title">Státusz váltás</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h4>Számlázás megtörtént, anyag elküldve?</h4>
                <br />
                <input class="input-style compulsory"  type="checkbox" name="optiona" id="cc" />
                <label class="label-style" for="cc">Számlázás megtörtént</label>
                <br />
                <input class="input-style compulsory" type="checkbox" name="optiona" id="dd" />
                <label class="label-style" for="dd">Számla elküldve</label>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto p-2" data-dismiss="modal"><i class="fa fa-times"></i> Nem</button>
                <a type="button" class="btn btn-primary isDisabled" id="continue" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=VEGLEGESIT'}"><i class="fa fa-check"></i>&nbsp;Igen</a>
              </div>
            </div>
          </div>
        </div>
        <div th:block th:switch="${real.state.name()}">
          <div th:case="'IKTATVA'">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Állapot
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=VISSZAIGAZOL'}">VISSZAIGAZOLT</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=SZEMLEZES'}">SZEMLÉZVE</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=ELOKESZITES'}">ELŐKÉSZÍTVE</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=ERTEKELEST_ELKESZIT'}">ÉRTÉKELÉS KÉSZ</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${real.id}" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=VEGLEGESIT'}">ELKÜlDVE</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=VISSZAKULDES'}">VISSZAKÜLDÉS</a>
              </div>
            </div>
          </div>
          <div th:case="'VISSZAIGAZOLT'">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Állapot
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=IKTATAS'}">IKTATVA</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=SZEMLEZES'}">SZEMLÉZVE</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=ELOKESZITES'}">ELŐKÉSZÍTVE</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=ERTEKELEST_ELKESZIT'}">ÉRTÉKELÉS KÉSZ</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${real.id}" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=VEGLEGESIT'}">ELKÜlDVE</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=VISSZAKULDES'}">VISSZAKÜLDÉS</a>
              </div>
            </div>
          </div>
          <div th:case="'SZEMLEZVE'">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Állapot
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=IKTATAS'}">IKTATVA</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=BACK_VISSZAIGAZOL'}">VISSZAIGAZOLT</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=ELOKESZITES'}">ELŐKÉSZÍTVE</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=ERTEKELEST_ELKESZIT'}">ÉRTÉKELÉS KÉSZ</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${real.id}" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=VEGLEGESIT'}">ELKÜlDVE</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=VISSZAKULDES'}">VISSZAKÜLDÉS</a>
              </div>
            </div>
          </div>
          <div th:case="'ELOKESZITVE'">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Állapot
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=IKTATAS'}">IKTATVA</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=BACK_VISSZAIGAZOL'}">VISSZAIGAZOLT</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=BACK_SZEMLEZVE'}">SZEMLÉZVE</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=ERTEKELEST_ELKESZIT'}">ÉRTÉKELÉS KÉSZ</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${real.id}" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=VEGLEGESIT'}">ELKÜlDVE</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=VISSZAKULDES'}">VISSZAKÜLDÉS</a>
              </div>
            </div>
          </div>
          <div th:case="'ERTEKELES_KESZ'">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Állapot
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=IKTATAS'}">IKTATVA</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=BACK_VISSZAIGAZOL'}">VISSZAIGAZOLT</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=BACK_SZEMLEZVE'}">SZEMLÉZVE</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=BACK_ELOKESZITES'}">ELŐKÉSZÍTVE</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${real.id}" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=VEGLEGESIT'}">ELKÜlDVE</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=VISSZAKULDES'}">VISSZAKÜLDÉS</a>
              </div>
            </div>
          </div>
          <div th:case="'VISSZAKULDOTT'">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Állapot
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=IKTATAS'}">IKTATVA</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=BACK_VISSZAIGAZOL'}">VISSZAIGAZOLT</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=BACK_SZEMLEZVE'}">SZEMLÉZVE</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=BACK_ELOKESZITES'}">ELŐKÉSZÍTVE</a>
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=ERTEKELEST_ELKESZIT'}">ÉRTÉKELÉS KÉSZ</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${real.id}" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=VEGLEGESIT'}">ELKÜlDVE</a>
              </div>
            </div>
          </div>
          <div th:case="'VISSZAVONT'">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Állapot
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=VISSZAKULDES'}">VISSZAKÜLDÉS</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var checkBoxes = $('input.compulsory'),
          submitButton = $('#continue');

      checkBoxes.change(function () {
        if(checkBoxes.is(":not(:checked)")) {
          submitButton.addClass('isDisabled');
        } else {
          submitButton.removeClass('isDisabled');
        }
      });
    </script>

    <!-- Felső sor vége -->

    <!-- Adatok megjelenítése -->

    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="form-row">
          <div class="col-md-4">
            <h2 class="control-label">Bank</h2>
            <h4 class="form-control-static" th:text="${real.getBank().getName()}"></h4>
          </div>
          <div class="col-md-4">
            <h2 class="control-label">Ügyfélnév</h2>
            <h5 class="form-control-static" th:text="${real.clientName}"></h5>
          </div>
          <div class="col-md-4">
            <h2 class="control-label">Iktatószám</h2>
            <h5 class="form-control-static" th:text="${real.referenceNumber}"></h5>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <h2 class="control-label">Előkészítette</h2>
            <h5 class="form-control-static" th:text="${real.getPreparer().getName()}"></h5>
          </div>
          <div class="form-group col-md-4">
            <h2 class="control-label">Értékbecslő</h2>
            <h5 class="form-control-static" th:text="${real.getValuer().getName()}"></h5>
          </div>
          <div class="form-group col-md-4">
            <h2 class="control-label">Összeg</h2>
            <h5 class="form-control-static" th:text="${real.money} + ' Ft'"></h5>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <h2 class="control-label">Érkezett</h2>
            <h5 class="form-control-static" th:text="${#temporals.format(real.arrived, 'yyyy.MM.dd HH:mm')}"></h5>
          </div>
          <div class="form-group col-md-4">
            <h2 class="control-label">Határidő</h2>
            <h5 class="form-control-static" th:text="${#temporals.format(real.deadline, 'yyyy.MM.dd HH:mm')}"></h5>
          </div>
          <div class="form-group col-md-4">
            <h2 class="control-label">Szemle</h2>
            <h5 class="form-control-static" th:text="${#temporals.format(real.review, 'yyyy.MM.dd HH:mm')}"></h5>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <h2 class="control-label">Hitel típus</h2>
            <h5 class="form-control-static" th:text="${real.getLoan() != null} ? ${real.getLoan().getValue()} : ''"></h5>
          </div>
          <div class="form-group col-md-4">
            <h2 class="control-label">Értékelés típus</h2>
            <h5 class="form-control-static" th:text="${real.getEstimation() != null} ? ${real.getEstimation().getValue()} : ''"></h5>
          </div>
          <div class="form-group col-md-4">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <h2 class="control-label">Cím</h2>
            <h5 class="form-control-static" th:text="${real.getAddress().getZipCode() + ', ' + real.getAddress().getCity() + ', ' + real.getAddress().getStreet() + ', ' + real.getAddress().getDoor()}"></h5>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <h2 class="control-label">Megjegyzés</h2>
            <h5 class="form-control-static" th:text="${real.comment}"></h5>
          </div>
        </div>
      </div>
    </div>

    <!-- Adatok megjelenítése vége -->

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <div class="d-flex flex-row">
        <div th:block th:switch="${real.state.name()}">
          <div th:case="'IKTATVA'">
            <a th:href="@{'/real/show/trigger/' + ${real.id} + '?event=AKADALY_IKTATAS'}" class="btn btn-warning btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
              <span class="text">AKADÁLY</span>
            </a>
          </div>
          <div th:case="'VISSZAIGAZOLT'">
            <a th:href="@{'/real/show/trigger/' + ${real.id} + '?event=AKADALY_VISSZAIGAZOLAS'}" class="btn btn-warning btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
              <span class="text">AKADÁLY</span>
            </a>
          </div>
          <div th:case="'SZEMLEZVE'">
            <a th:href="@{'/real/show/trigger/' + ${real.id} + '?event=AKADALY_SZEMLEZVE'}" class="btn btn-warning btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
              <span class="text">AKADÁLY</span>
            </a>
          </div>
          <div th:case="'ELOKESZITVE'">
            <a th:href="@{'/real/show/trigger/' + ${real.id} + '?event=AKADALY_ELOKESZITES'}" class="btn btn-warning btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
              <span class="text">AKADÁLY</span>
            </a>
          </div>
          <div th:case="'ERTEKELES_KESZ'">
            <a th:href="@{'/real/show/trigger/' + ${real.id} + '?event=AKADALY_ERTEKELES_KESZ'}" class="btn btn-warning btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
              <span class="text">AKADÁLY</span>
            </a>
          </div>
          <div th:case="${real.state.name() == 'AKADALY'}">
            <div class="modal" th:id="modal-this+${real.id }">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header alert alert-info">
                    <h5 class="modal-title">Státusz váltás</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h4>Biztosan meg szeretné szűntetni az akadályt?</h4>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-auto p-2" data-dismiss="modal">Vissza</button>
                    <a type="button" class="btn btn-primary" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=AKADALY_MEGSZUNTETESE'}"><i class="fa fa-check"></i>&nbsp;Igen</a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <a data-toggle="modal" data-target="#modal-this" th:attr="data-target='#modal-this'+${real.id}" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=AKADALY_MEGSZUNTETESE'}" class="btn btn-info btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-check"></i>
                </span>
                <span class="text">AKADÁLY FELOLDÁS</span>
              </a>
            </div>
          </div>
          <div th:if="${real.state.name() == 'AKADALY_IKTATVA'}">
            <div class="modal" th:id="modal-this+${real.id}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header alert alert-info">
                    <h5 class="modal-title">Státusz váltás</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h4>Biztosan meg szeretné szűntetni az akadályt?</h4>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-auto p-2" data-dismiss="modal">Vissza</button>
                    <a type="button" class="btn btn-primary" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=AKADALY_MEGSZUNTETESE_IKTATAS'}"><i class="fa fa-check"></i>&nbsp;Igen</a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <a data-toggle="modal" data-target="#modal-this" th:attr="data-target='#modal-this'+${real.id}" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=AKADALY_MEGSZUNTETESE_IKTATAS'}" class="btn btn-info btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-check"></i>
                </span>
                <span class="text">AKADÁLY FELOLDÁS</span>
              </a>
            </div>
          </div>
          <div th:if="${real.state.name() == 'AKADALY_VISSZAIGAZOLT'}">
            <div class="modal" th:id="modal-this+${real.id }">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header alert alert-info">
                    <h5 class="modal-title">Státusz váltás</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h4>Biztosan meg szeretné szűntetni az akadályt?</h4>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-auto p-2" data-dismiss="modal">Vissza</button>
                    <a type="button" class="btn btn-primary" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=AKADALY_MEGSZUNTETESE_VISSZAIGAZOLAS'}"><i class="fa fa-check"></i>&nbsp;Igen</a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <a data-toggle="modal" data-target="#modal-this" th:attr="data-target='#modal-this'+${real.id}" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=AKADALY_MEGSZUNTETESE_VISSZAIGAZOLAS'}" class="btn btn-info btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-check"></i>
                </span>
                <span class="text">AKADÁLY FELOLDÁS</span>
              </a>
            </div>
          </div>
          <div th:if="${real.state.name() == 'AKADALY_SZEMLEZVE'}">
            <div class="modal" th:id="modal-this+${real.id }">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header alert alert-info">
                    <h5 class="modal-title">Státusz váltás</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h4>Biztosan meg szeretné szűntetni az akadályt?</h4>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-auto p-2" data-dismiss="modal">Vissza</button>
                    <a type="button" class="btn btn-primary" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=AKADALY_MEGSZUNTETESE_SZEMLEZVE'}"><i class="fa fa-check"></i>&nbsp;Igen</a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <a data-toggle="modal" data-target="#modal-this" th:attr="data-target='#modal-this'+${real.id}" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=AKADALY_MEGSZUNTETESE_SZEMLEZVE'}" class="btn btn-info btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-check"></i>
                </span>
                <span class="text">AKADÁLY FELOLDÁS</span>
              </a>
            </div>
          </div>
          <div th:if="${real.state.name() == 'AKADALY_ELOKESZITVE'}">
            <div class="modal" th:id="modal-this+${real.id }">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header alert alert-info">
                    <h5 class="modal-title">Státusz váltás</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h4>Biztosan meg szeretné szűntetni az akadályt?</h4>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-auto p-2" data-dismiss="modal">Vissza</button>
                    <a type="button" class="btn btn-primary" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=AKADALY_MEGSZUNTETESE_ELOKESZITES'}"><i class="fa fa-check"></i>&nbsp;Igen</a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <a data-toggle="modal" data-target="#modal-this" th:attr="data-target='#modal-this'+${real.id}" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=AKADALY_MEGSZUNTETESE_ELOKESZITES'}" class="btn btn-info btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-check"></i>
                </span>
                <span class="text">AKADÁLY FELOLDÁS</span>
              </a>
            </div>
          </div>
          <div th:if="${real.state.name() == 'AKADALY_ERTEKELES_KESZ'}">
            <div class="modal" th:id="modal-this+${real.id }">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header alert alert-info">
                    <h5 class="modal-title">Státusz váltás</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h4>Biztosan meg szeretné szűntetni az akadályt?</h4>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-auto p-2" data-dismiss="modal">Vissza</button>
                    <a type="button" class="btn btn-primary" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=AKADALY_MEGSZUNTETESE_ERTEKELES_KESZ'}"><i class="fa fa-check"></i>&nbsp;Igen</a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <a data-toggle="modal" data-target="#modal-this" th:attr="data-target='#modal-this'+${real.id}" th:href="@{'/real/show/trigger/' + ${real.id} + '?event=AKADALY_MEGSZUNTETESE_ERTEKELES_KESZ'}" class="btn btn-info btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-check"></i>
                </span>
                <span class="text">AKADÁLY FELOLDÁS</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex d-sm-inline-block">
        <div th:block th:switch="${real.state.name()}">
          <div th:if="${real.state.name() != 'ELKULDVE' && real.state.name() != 'TOROLT' && real.state.name() != 'AKADALY' && real.state.name() != 'AKADALY_IKTATVA'
          && real.state.name() != 'AKADALY_VISSZAIGAZOLT' && real.state.name() != 'AKADALY_ELOKESZITVE' && real.state.name() != 'AKADALY_ERTEKELES_KESZ' && real.state.name() != 'AKADALY_SZEMLEZVE' && real.state.name() != 'VISSZAVONT'}">
            <div>
              <a th:href="@{'/real/show/trigger/' + ${real.id} + '?event=VISSZAVONAS'}" class="btn btn-danger btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
              </span>
                <span class="text">Visszavon</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>