<div th:fragment="statistics" id="statistics" xmlns:th="http://www.thymeleaf.org">
  <div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Statisztikák</h1>
      <!--  <a th:href="@{/real/pdf-statistics}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Elemzés készítése</a> -->
      </div>

      <!-- Content Row -->
    <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Összeg (Aktuális hónap)</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${#numbers.formatDecimal(moneyForCurrentMonth, 1, 'COMMA', 2, 'POINT')} + ' Ft'">$40,000</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Teljes összeg (Forintban)</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${#numbers.formatDecimal(amount, 1, 'COMMA', 2, 'POINT')} + ' Ft'"></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Feladatok</div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div th:text="${count}" class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pending Requests Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Aktuális havi megrendelések</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${caseNumberForCurrentMonth}"></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-comments fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Content Row -->

    <div class="row">

      <!-- Area Chart -->
      <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Áttekintés</h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Időszakok:</div>
                <a class="dropdown-item" onclick="currentMonth.update(dataForCurrentMonth)">Aktuális havi</a>
                <a class="dropdown-item" onclick="currentMonth.update(dataForLastThreeMonth)">3 hónapos</a>
                <a class="dropdown-item" onclick="currentMonth.update(dataForLastSixMonth)">6 hónapos</a>
                <a class="dropdown-item" onclick="currentMonth.update(dataForLastYear)">1 éves</a>
              </div>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div>
              <canvas id="myLineChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script type="text/javascript" th:inline="javascript">

        var datesForCurrentMonth = [];
        var numberForCurrentMonth = [];

        var datesForLastThreeMonth = [];
        var numberForLastThreeMonth = [];

        var datesForLastSixMonth = [];
        var numberForLastSixMonth = [];

        var datesForLastYear = [];
        var numberForLastYear = [];

        /*<![CDATA[*/

        [# th:each="cms : ${chartCurrentMonthString}"]
        datesForCurrentMonth.push("[(${cms})]")
        [/]

        [# th:each="cmi : ${chartCurrentMonthInteger}"]
        numberForCurrentMonth.push("[(${cmi})]")
        [/]

        /*]]>*/
        /*<![CDATA[*/

        [# th:each="ltms : ${chartLastThreeMonthString}"]
        datesForLastThreeMonth.push("[(${ltms})]")
        [/]

        [# th:each="ltmi : ${chartLastThreeMonthInteger}"]
        numberForLastThreeMonth.push("[(${ltmi})]")
        [/]

        /*]]>*/
        /*<![CDATA[*/

        [# th:each="lsms : ${chartLastSixMonthString}"]
        datesForLastSixMonth.push("[(${lsms})]")
        [/]

        [# th:each="lsmi : ${chartLastSixMonthInteger}"]
        numberForLastSixMonth.push("[(${lsmi})]")
        [/]

        /*]]>*/
        /*<![CDATA[*/

        [# th:each="lys : ${chartLastYearString}"]
        datesForLastYear.push("[(${lys})]")
        [/]

        [# th:each="lyi : ${chartLastYearInteger}"]
        numberForLastYear.push("[(${lyi})]")
        [/]

        /*]]>*/

        var dataForCurrentMonth = {
          labels: datesForCurrentMonth,
          series: [
            numberForCurrentMonth
          ]
        };

        var dataForLastThreeMonth = {
          labels: datesForLastThreeMonth,
          series: [
            numberForLastThreeMonth
          ]
        };

        var dataForLastSixMonth = {
          labels: datesForLastSixMonth,
          series: [
            numberForLastSixMonth
          ]
        };

        var dataForLastYear = {
          labels: datesForLastYear,
          series: [
            numberForLastYear
          ]
        };

        const myLine = document.getElementById('myLineChart');
        new Chart(myLine, {
          type: 'line',
          data: {
            labels: datesForLastYear,
            datasets: [{
              label: "Darab ",
              data: numberForLastYear,
              fill: false,
              borderColor: 'rgb(75, 192, 192)',
              tension: 0.3
            }]
          }
        });
      </script>

      <!-- Pie Chart -->
      <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Lebontás bankokra</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div>
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script type="text/javascript" th:inline="javascript">
      const ctx = document.getElementById('myChart');

      var bankNames_test = [];
      var caseCount_test = [];

      /*<![CDATA[*/
      [# th:each="stringValue : ${donutString}"]
      bankNames_test.push("[(${stringValue})]")
          [/]
          [# th:each="integerValue : ${donutInteger}"]
      caseCount_test.push("  [(${integerValue})]")
          [/]
      /*]]>*/

      new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: bankNames_test,
            datasets: [{
              labels: bankNames_test,
              data: caseCount_test,
              hoverOffset: 4
            }]
          }
        });
      </script>

    </div>

    <div class="d-sm-flex align-items-center justify-content-center mb-4">
      <h3 class="h3 mb-0 text-gray-800" style="text-align: center">Feladatok állapotokra lebontva</h3>
    </div>

    <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-sajat col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Iktatva</div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div th:text="${iktatva}" class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar" th:style="'width: ' + (100 * (${iktatva} / ${count})) + '%;'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-sajat col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Visszaigazolt</div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div th:text="${visszaigazolt}" class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar" th:style="'width: ' + (100 * (${visszaigazolt} / ${count})) + '%;'" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-sajat col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Szemlézve</div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div th:text="${szemlezve}" class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar" th:style="'width: ' + (100 * (${szemlezve} / ${count})) + '%;'" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-sajat col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Előkészítve</div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div th:text="${elokeszitve}" class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar" th:style="'width: ' + (100 * (${elokeszitve} / ${count})) + '%;'" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-sajat col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Értékelés kész</div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div th:text="${ertekelesKesz}" class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar" th:style="'width: ' + (100 * (${ertekelesKesz} / ${count})) + '%;'" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
