<div th:fragment="success" id="success" xmlns:th="http://www.thymeleaf.org">
  <div class="jumbotron text-center">
    <h1 class="display-3">Sikeres regisztrálás!</h1>
    <p class="lead"><strong>A felhasználói fiók mostmár rendelkezésre áll</strong></p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" th:href="@{/real/admin}" role="button">Vissza az admin oldalra</a>
    </p>
  </div>
</div>