<div th:fragment="update_profile" id="update_profile" xmlns:th="http://www.thymeleaf.org">
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8" style="padding: 40px;">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Felhasználó szerkesztése</h3></div>
                <div class="card-body">
                  <form th:action="@{'/real/admin/update_user'}" th:object="${user}"  method="POST">
                    <input th:field="*{id}" class="form-control py-4" id="id" type="hidden"/>
                    <div class="form-group">
                      <label class="medium mb-1" for="inputFirstName">Név</label>
                      <input th:field="*{name}" class="form-control py-4" id="inputFirstName" type="text"/>
                    </div>
                    <div class="form-group">
                      <label class="medium mb-1" for="inputEmailAddress">Felhasználónév</label>
                      <input th:field="*{userName}" class="form-control py-4" id="inputEmailAddress" type="text" aria-describedby="emailHelp"/>
                    </div>
                    <div class="form-group">
                      <label class="medium mb-1" for="email">Email</label>
                      <input th:field="*{email}" class="form-control py-4" id="email" type="text" aria-describedby="email"/>
                    </div>
                    <div class="form-group">
                      <label class="medium mb-1" for="phoneNumber">Telefonszám</label>
                      <input th:field="*{phoneNumber}" class="form-control py-4" id="phoneNumber" type="text" aria-describedby="phoneNumber"/>
                    </div>
                    <div class="form-group">
                      <label class="medium mb-1" for="job">Munkakör</label>
                      <select name="job" class="form-control form-control-lg" id="job">
                        <option th:each="job : ${job}"
                                th:value="${job.name}"
                                th:text="${job.name}">
                        </option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="medium mb-1" for="role">Hozzáférési jog</label>
                      <select th:field="*{role}" class="form-control form-control-lg" id="role">
                        <option value="ADMIN">Admin</option>
                        <option value="EMPLOYEE" selected>Alkalmazott</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="medium mb-1" for="inputPassword">Jelszó</label>
                      <input th:field="*{password}" class="form-control py-4" id="inputPassword" type="password"/>
                    </div>
                    <div class="form-group mt-4 mb-0"><button type="submit" class="btn btn-primary btn-block">Felhasználó szerkesztése</button></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>